<div class="d-flex flex-column">
  <button class="btn btn-primary mb-3" style="width: 300px;">
    <a class="link" href="https://meet.google.com"> Join or start a meeting</a>
  </button>

  <button (click)="clickOpenMeetingNote()" class="btn btn-primary " style="width: 300px;">
    Meeting Note
  </button>
</div>
<div class="mt-5" *ngIf="openMeetingNote">
  <textarea placeholder="Share something..." rows="10" style=" width: 100%; height: auto;min-height: 350px"></textarea>
  <div class="float-right col-3 align">
    <button id="Cancel" class="btn btn-danger w-50" (click)="cancelMeetingNote()">Cancel</button>
    <button id="Post" class="btn btn-primary w-50" (click)="addMeetingNote()">Add</button>
  </div>
</div>

