

<!--Header-->
<div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a href="" class="navbar-branch">
            <img src="./assets/images/logo.png" alt="" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="" class="nav-link " routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" routerLink="/dashboard" >Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" routerLink="/arrageMeeting">Schedule</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" routerLink="/blog">Blog</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Setting</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>



            </ul>
        </div>

    </div>
</div>