<footer>
    <div class="container-fluid ">
        <div class="row text-center">
            <div class="col-sm-4">
                <img src="./assets/images/logo.png" alt="" height="30">
                <hr class="dark">
                <h5>About Us</h5>
                <p>Enterprise software development team</p>
            </div>
            <div class="col-sm-4">
                <h5>Information</h5>
                <hr class="dark">
                <a href=""><Span style="font-size: 10px;">Home</Span></a>
                <hr>
                <a href=""><Span style="font-size: 10px;">Dashboard</Span></a>
                <hr>
                <a href=""> <Span style="font-size: 10px;">Event</Span></a>
                <hr>
                <a href=""><Span style="font-size: 10px;">Blog</Span></a>
            </div>
            <div class="col-sm-4">
                <h5>Contact</h5>
                <hr class="dark">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <br>
                Number: 999-999-999

            </div>
        </div>

    </div>
</footer>