<div class="row">
    <div class="col-sm-6">
        <!--Clock-->

        <div class="clock-logo"> REAL TIME CLOCK</div>
        <div id="clock"></div>

    </div>


    <div class="col-sm-6">
        <!--Calendar-->
        <div class="wrapper">
            <div class="calendar ">
                <div class="month">
                    <div>
                        <h2 id="month"></h2>
                        <p id="date_str"></p>
                    </div>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days">
                </div>
            </div>
        </div>
    </div>

</div>