<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/vendor/fontawesome-free/css/all.min.css">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
<!-- Custom styles for this template-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css">

<div class="container py-md mt-3">
  <div class="logo text-center">
    <a class="navbar-brand" href="index.html">
      <i class="fas fa-graduation-cap"></i> E-Tutoring <span>Learning System</span></a>
  </div>
</div>
<div class="row text-center mb-5">
  <div class="col-sm-4">
    <h5>Software development team</h5>
    <hr class="dark">
    <div class="teamDevelop">
      <a href="https://www.facebook.com/hanguyen10101998"><p>Nguyen Thanh Ha</p></a>
      <a href="https://www.facebook.com/phatvh98"><p>Vu Hong Phat</p></a>
      <a href="https://www.facebook.com/buitam0098"><p>Bui Thi Tam</p></a>
      <a href="https://www.facebook.com/anh.ngoviet.982"><p>Ngo Viet Anh</p></a>
      <a href="https://www.facebook.com/quybach.awesome"><p>Bach Dang Hoang Quy</p></a>
    </div>
  </div>
  <div class="col-sm-4">
    <h5>Information</h5>
    <hr class="dark">
    <a href="">
      <p>Home</p>
    </a>
    <hr>
    <a href="">
      <p>Dashboard</p>
    </a>
    <hr>
    <a routerLink="/blog">
      <p>Blog</p>
    </a>
    <hr>
    <a routerLink="/email">
      <p>Email</p>
    </a>

  </div>
  <div class="col-sm-4">
    <h5>Contact</h5>
    <hr class="dark">
    <img src="./assets/images/logo.png" alt="" height="30">
    <br>
    <br>
    <a href="#"><i class="fab fa-facebook" style="font-size: 25px"></i></a>
    <a href="#"><i class="fab fa-twitter" style="font-size: 25px"></i></a>
    <a href="#"><i class="fab fa-youtube" style="font-size: 25px"></i></a>
    <br>
    <br>
    Number: +44 20 8331 8000 <br>
    Email: GreenwichEdu@info.com
  </div>
</div>
