<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->

<div class="row mt-2">
    <div class="col-sm-6" >
        <!--Clock-->
      <div id="box_gioi_thieu" class="wcs-title">
        <div class="title-box-wrap text-center">
          <h2 class="title-box color pst-relative fontosw no-margin title30 text-uppercase">REASON WHY CHOOSE <br> UNIVERSITY OF GREENWICH</h2>
          <p class="title-desc font-600 pst-relative">
            The University of Greenwich is well-known for its high teaching quality,
            research excellence, the diversity of its students, its beautiful,
            historic campuses in south-east London and Kent and its high student satisfaction.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <!--Calendar-->
        <div class="wrapper">
            <div class="calendar">
                <div class="month">
                    <div>
                        <h2 id="month"></h2>
                        <p id="date_str"></p>
                    </div>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days">
                </div>
            </div>
        </div>
    </div>

</div>
