<!DOCTYPE HTML>
<html lang="zxx">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/vendor/fontawesome-free/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- //Web-Fonts -->
</head>

<body>
<!-- services -->

<div class="services py-5" id="what">
  <div class="container py-xl-5 py-lg-3">
    <div class="heading text-center">
      <i class="fas fa-graduation-cap" style='font-size:30px;color:white'></i>
      <h3 class="heading mb-sm-5 mb-3 text-uppercase">Our service</h3>
    </div>
    <div class="row w3pvtits-services-row text-center">
      <div class="col-lg-4 serv-w3mk mt-5">
        <div class="w3pvtits-services-grids">
          <span class="fa fa-graduation-cap ser-icon" aria-hidden="true"></span>
          <h4 class="text-bl my-4">Active Learning</h4>
          <p class="text-justify">Active learning refers to a broad range of teaching strategies which engage students as active participants in their learning during class time. </p>
          <a class="service-btn mt-xl-5 mt-4 btn" href="#">Read More<span class="fa fa-long-arrow-right ml-2"></span></a>
        </div>
      </div>
      <div class="col-lg-4 serv-w3mk mt-5">
        <div class="w3pvtits-services-grids">
          <span class="fa fa-book ser-icon" aria-hidden="true"></span>
          <h4 class="text-bl my-4">Full Day Programs </h4>
          <p class="text-justify">Full Day Programs refers to any educational program or strategy intended to increase the amount of time students are learning, academic achievement.</p>
          <a class="service-btn mt-xl-5 mt-4 btn" href="#">Read More<span class="fa fa-long-arrow-right ml-2"></span></a>
        </div>
      </div>
      <div class="col-lg-4 serv-w3mk mt-5">
        <div class="w3pvtits-services-grids">
          <span class="fa fa-users ser-icon" aria-hidden="true"></span>
          <h4 class="text-bl my-4">Expert Teachers</h4>
          <p class="text-justify"> Our pool of expert teachers are familiar with The British education system and are well-qualified to help students in subjects they are proficient in.</p>
          <a class="service-btn mt-xl-5 mt-4 btn" href="#">Read More<span class="fa fa-long-arrow-right ml-2"></span></a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- //services -->

</body>

</html>
