<app-header></app-header>
<app-carousel></app-carousel>

<html>
<header>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/vendor/fontawesome-free/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</header>
<body>
<div class="container-fluid">
  <div class="mt-3 mb-5">
    <ul class="horizontal row">
      <li class="col-3 p-0" *ngFor="let item of listMenu" (click)="click(item)">
        <a class="nav-link" [style.background]="item.selected ? '#111111' : '#6e6e6e'">{{item.name}}</a></li>
    </ul>

    <div *ngIf="tutorDetail" class="content-body">


      <!-- header section -->
      <header class="header2">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img src="https://cdn.clipart.email/0c47ed607b73aed9e23f4900c46784be_user-computer-icons-gravatar-blog-happy-woman-transparent-_512-512.jpeg" width="300px" style="border-radius: 50%" alt="templatemo easy profile">
              <hr>
              <h1 class="white bold">Your Personal Tutor Detail</h1>
              <h1 class="white bold">Tutor: {{tutor.name}}</h1>
            </div>
          </div>
        </div>
      </header>


      <!-- education and languages -->
      <section class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="education">
              <h2 class="white">Education</h2>
              <div class="education-content">
                <h4 class="education-title accent">New Web Design</h4>
                <div class="education-school">
                  <h5>School of Media</h5><span></span>
                  <h5>2030 January - 2034 December</h5>
                </div>
                <p class="education-description">In lacinia leo sed quam feugiat, ac efficitur dui tristique. Ut venenatis, odio quis cursus egestas, nulla sem volutpat diam, ac dapibus nisl ipsum ut ipsum. Nunc tincidunt libero non magna placerat elementum.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="languages">
              <h2>Languages</h2>
              <ul>
                <li>Myanmar / Thai</li>
                <li>English / Spanish</li>
                <li>Chinese / Japanese</li>
                <li>Arabic / Hebrew</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- contact and experience -->
      <section class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="contact">
              <h2>Contact</h2>
              <p><i class="fa fa-map-marker"></i> 123 Rama IX Road, {{tutor.country}}</p>
              <p><i class="fa fa-phone"></i> {{tutor.phone}}</p>
              <p><i class="fa fa-envelope"></i> {{tutor.email}}</p>
              <p><i class="fa fa-globe"></i> {{tutor.country}} <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + tutor.countryFlag" class="mr-2" style="width: 20px"></p>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="experience">
              <h2 class="white">Experiences</h2>
              <div class="experience-content">
                <h4 class="experience-title accent">Website Development</h4>
                <h5>New Media Company</h5><span></span>
                <h5>2035 January - 2036 April</h5>
                <p class="education-description">Cras porta tincidunt sem, in sollicitudin lorem efficitur ut. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- footer section -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
            </div>
          </div>
        </div>
      </footer>

    </div>

    <!--Document-->
    <div *ngIf="document" class="m-5">
      <app-document-student></app-document-student>
    </div>

    <!--Meeting-->

    <div class="filter m-5 d-flex flex-column" *ngIf="meeting">
      <app-meeting-student></app-meeting-student>
    </div>

    <!--storage-->
    <div class="m-5" *ngIf="storage">
      <div style="float: left;" class="mb-3">
        <h4 style="color:#000; font-weight: bold">All documents</h4>
      </div>
      <div class="eachDocument">
        <div style="float: left;">Document 1</div>
        <div class="DeleteDocument" style="float: right; margin-right: 5px"><i class="fa fa-ellipsis-v"></i>
          <div class="filterDeltete">
            <button class="btn">Delete</button>
          </div>
        </div>
      </div>

      <div class="eachDocument">
        <div style="float: left;">Document 1</div>
        <div class="DeleteDocument" style="float: right; margin-right: 5px"><i class="fa fa-ellipsis-v"></i>
          <div class="filterDeltete">
            <button class="btn">Delete</button>
          </div>
        </div>
      </div>
      <div class="eachDocument">
        <div style="float: left;">Document 1</div>
        <div class="DeleteDocument" style="float: right; margin-right: 5px"><i class="fa fa-ellipsis-v"></i>
          <div class="filterDeltete">
            <button class="btn">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<app-footer></app-footer>

