<app-header></app-header>
<app-carousel></app-carousel>

<html>
<header></header>
<body>
<div class="container-fluid">
  <div class="mt-3 mb-5">
    <ul class="horizontal row">
      <li class="col-3 p-0" *ngFor="let item of listMenu" (click)="click(item)">
        <a class="nav-link" [style.background]="item.selected ? '#111111' : '#6e6e6e'">{{item.name}}</a></li>
    </ul>

    <div *ngIf="message">
      <app-chat-student></app-chat-student>
    </div>

    <!--Document-->
    <div *ngIf="document" class="m-5">
      <app-document-student></app-document-student>
    </div>

    <!--Meeting-->

    <div class="filter m-5 d-flex flex-column" *ngIf="meeting">
      <app-meeting-student></app-meeting-student>
    </div>

    <!--storage-->
    <div class="m-5" *ngIf="storage">
      <div style="float: left;" class="mb-3">
        <h4 style="color:#000; font-weight: bold">All documents</h4>
      </div>
      <div class="eachDocument">
        <div style="float: left;">Document 1</div>
        <div class="DeleteDocument" style="float: right; margin-right: 5px"><i class="fa fa-ellipsis-v"></i>
          <div class="filterDeltete">
            <button class="btn">Delete</button>
          </div>
        </div>
      </div>

      <div class="eachDocument">
        <div style="float: left;">Document 1</div>
        <div class="DeleteDocument" style="float: right; margin-right: 5px"><i class="fa fa-ellipsis-v"></i>
          <div class="filterDeltete">
            <button class="btn">Delete</button>
          </div>
        </div>
      </div>
      <div class="eachDocument">
        <div style="float: left;">Document 1</div>
        <div class="DeleteDocument" style="float: right; margin-right: 5px"><i class="fa fa-ellipsis-v"></i>
          <div class="filterDeltete">
            <button class="btn">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<app-footer></app-footer>

