.nav-link:focus {
  color: #ffffff !important;
  background-color: rgba(29, 29, 29, 0.95);
}
.eachDocument {
  float: left;
  width: 100%;
  border-style: groove;
  margin-bottom: 5px;
  padding: 5px
}
.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e6e6e;
}

.horizontal li {
  float: left;
  width: 25%;
}

.horizontal li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.horizontal li a:hover {
  background-color: #111;
}


.filter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.filter li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.filter li a:hover {
  background-color: #555;
  color: white;
}

.DeleteDocument {
  position: relative;
  display: inline-block;
}

.filterDeltete {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.DeleteDocument:hover .filterDeltete {
  display: block;
}
