<!DOCTYPE HTML>
<html>

<head>
</head>

<body>
	<div class="games">
		<div class="container">
			<h3 class="page-header">
				GREENWICH UNIVERSITY BLOGS
			</h3>
			<div row="col-12 md-12">
				<div class="blog-post" row>
					<h3><a href="">GREENWICH UNIVERSITY WILL OPEN IN 18/5/2020</a></h3>
					<div class="post-details">
						<p>Posted By <a href="#">TamCanada</a> &nbsp;&nbsp; On <span>15 April, 2020</span> &nbsp;&nbsp;
							Comments<span>(10)</span></p>
					</div>
					<img src="assets/images/GR1.jpg" alt="">
					<h4>CORONA VIRUS has influencing to the world esspecialy Erope</h4>
					<p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
						Most people infected with the COVID-19 virus will experience mild to moderate respiratory
						illness and recover without requiring special treatment. Older people, and those with underlying
						medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer
						are more likely to develop serious illness.
						The best way to prevent and slow down transmission is be well informed about the COVID-19 virus,
						the disease it causes and how it spreads. Protect yourself and others from infection by washing
						your hands or using an alcohol based rub frequently and not touching your face.
						The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when
						an infected person coughs or sneezes, so it’s important that you also practice respiratory
						etiquette (for example, by coughing into a flexed elbow).
						At this time, there are no specific vaccines or treatments for COVID-19. However, there are many
						ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated
						information as soon as clinical findings become available.

					</p>
					<nav class="cl-effect-3"><a href="">More</a></nav>
				</div>
				<div class="blog-post">
					<h3><a href="">The intensive training program will be back with new students</a></h3>
					<div class="post-details">
						<p>Posted By <a href="#">TamCanada</a> &nbsp;&nbsp; On <span>20 April, 2020</span> &nbsp;&nbsp;
							Comments<span>(10)</span></p>
					</div>
					<img src="assets/images/GR4.jpg" alt="">
					<h4>All disabilities about the month of focused training</h4>
					<p>One of the "specialties" of FPT University is the month of concentrated training. For new K14
						students, the period of nearly 1 month of studying and living together will be held at the
						Military Education Center Military Region Military Region 7, District 12, Ho Chi Minh City.
						This time period is called the Month of concentrated training because students will be gathered
						and trained together, this is the difference of the military course at FPT University compared
						to other schools. In addition to activities to train the independence and order in the military
						zone, students also participate in extracurricular events to hone their soft skills.
					</p>
					<nav class="cl-effect-3"><a href="">More</a></nav>
				</div>
				<div class="blog-post">
					<h3><a href="">Study in Greenwich Vietnam continues to enroll students for the 2020/2021 school
							year</a></h3>
					<div class="post-details">
						<p>Posted By <a href="#">Duyen</a> &nbsp;&nbsp; On <span>22 April, 2020</span> &nbsp;&nbsp;
							Comments<span>(10)</span></p>
					</div>
					<!-- <img src="assets/images/GR13.PNG" alt="">
					<img src="assets/images/GR12.PNG" alt="">
					<img src="assets/images/GR9.PNG" alt="">
					<img src="assets/images/GR8.PNG" alt="">
					<img src="assets/images/GR10.PNG" alt=""> -->
					<img src="assets/images/GR14.jpg" alt="">
					<h4>Greenwich University announces admission for the 2020 academic year</h4>
					<p>Greenwich University announces admission for the 2020 academic year</p>
					<p>1. Specialized training</p>
					<p>»Information technology - BSC</p>
					<p>»Graphic design - BAGD</p>
					<p>»Tourism Management</p>
					<p>»Advertising & Digital Marketing</p>
					<p>»Business administration, covering specialties:</p>
					<p>..........................</p> 
					<nav class="cl-effect-3"><a href="">More</a></nav>
				</div>
			</div>
			<!-- <div class="blog-sidebar">
			<h3 class="page-header">Catgeories</h3>
			<ul class="product-categories color"><li class="cat-item cat-item-42"><a href="#">Shooting</a> <span class="count">(14)</span></li>
				<li class="cat-item cat-item-60"><a href="#">Action</a> <span class="count">(2)</span></li>
				<li class="cat-item cat-item-63"><a href="#">Gloves</a> <span class="count">(2)</span></li>
				<li class="cat-item cat-item-54"><a href="#">Cars</a> <span class="count">(8)</span></li>
				<li class="cat-item cat-item-55"><a href="#">Racing</a> <span class="count">(11)</span></li>
				<li class="cat-item cat-item-64"><a href="#">Sports</a> <span class="count">(3)</span></li>
				<li class="cat-item cat-item-61"><a href="#">Style</a> <span class="count">(3)</span></li>
				<li class="cat-item cat-item-56"><a href="#">Bikes</a> <span class="count">(6)</span></li>
				<li class="cat-item cat-item-57"><a href="#">Zombies</a> <span class="count">(13)</span></li>
				<li class="cat-item cat-item-58"><a href="#">Wressling</a> <span class="count">(7)</span></li>
				<li class="cat-item cat-item-62"><a href="#">Watchers</a> <span class="count">(2)</span></li>
				<li class="cat-item cat-item-41"><a href="#">Women</a> <span class="count">(17)</span></li>
			 </ul>
			<h3 class="page-header">Subscribe</h3>
			<div class="subscribe">
				<h4>Subscribe For News</h4>
				<input type="text" placeholder="Email.." required="" />
				<input type="submit" value="Subscribe" />
			</div>
			<h3 class="page-header">Papular Tags</h3>
			<ul class="tags_links">
					<li><a href="#">Design</a></li>
					<li><a href="#">Branding</a></li>
					<li><a href="#">Art</a></li>
					<li><a href="#">Developing</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">HTML</a></li>
					<li><a href="#">Wordpress</a></li>
					<li><a href="#">Photography</a></li>
			</ul>

		</div> -->
			<div class="clearfix"></div>

		</div>
	</div>
</body>

</html>