<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/vendor/fontawesome-free/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="#" id="dashboardStd">Manage Student</a>
  <a href="#" id="dashboardTutor">Manage Tutor</a>
  <a href="#" id="allocate">Allocate</a>
  <a href="#" id="reallocate">Reallocate</a>
  <a href="#" id="manageCourse">Manage Course</a>
  <a href="#" id="manageClasses">Manage Classes</a>
  <a href="#" id="report">Report</a>
</div>

<div style="margin-left:0px;position: relative">
  <app-about-us></app-about-us>
</div>

</body>
</html>
