

<!DOCTYPE html>
<html lang="zxx">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<div class="container-fuild m-5">
    <div class="heading text-center">
      <i class="fas fa-graduation-cap" style='font-size:30px;color:black'></i>
      <h3 class="heading mb-sm-5 mb-3 text-uppercase">About us</h3>
    </div>
    <div class="row">
      <div class="col-5">
            <iframe width=90% height=350px src="https://www.youtube.com/embed/vS8no34OZWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-7" style="padding: 0px">

        <h3 class="title-w3pvt pr-lg-5 mt-2">Welcome to the University of Greenwich.</h3>
        <p class="my-4">Established in 1890, we are located on the banks of the River Thames and
          the historic Chatham Maritime in Kent. Apply for our degree courses online.</p>
        <p>Here at the University of Greenwich, our courses give you the skills employers value and the confidence to achieve extraordinary things.
          Our historic campuses in London and Kent offer first-class facilities, inspiring teaching and a friendly, diverse community.</p>
        <p>We offer a wide variety of courses and ways to study for those coming from abroad.</p>
        <a href="https://www.gre.ac.uk/" class="btn button-style-2 mt-sm-3 mt-3">Read More</a>
      </div>
    </div>
  </div>
<!-- //about -->
</body>

</html>
