
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Classic Login Form Responsive Widget Template :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Classic Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Font-Awesome-Icons-CSS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;subset=latin-ext" rel="stylesheet">
  <!-- //online-fonts -->
</head>
<body>
<video autoplay muted loop id="myVideo">
  <source src="assets/video/Ipad.mp4" type="video/mp4"></video>

  <div class="center-container">
    <!--header-->
    <div class="header-w3l">
      <h1>E-Tutor System</h1>
      <h2><pre>"Wisdom is not a product from school,
        but a lifelong learning process."  </pre></h2>
    </div>
    <!--//header-->
    <div class="main-content-agile">
      <div class="sub-main-w3">
        <div class="wthree-pro">
          <h2>Login Here</h2>
        </div>
        <form #frmUser="ngForm">
          <input placeholder="Username or E-mail" class="user" type="email" name="userName" #user required="">
          <span class="icon1"> <fa-icon [icon]="faUser"></fa-icon></span><br><br>
          <input  placeholder="Password" class="pass" type="password" #pass required="">
          <span class="icon2"> <fa-icon [icon]="faUnlock"></fa-icon></span><br>
          <div style="color: white" *ngIf="result">Please enter email and password!</div>
          <div style="color: white" *ngIf="invalidAccount">Wrong email or password!</div>
          <div class="sub-w3l">
            <h6 ><a href="#">Forgot Password?</a></h6>
            <div class="right-w3l">
              <input type="submit" value="Login" (click)="onSubmitForm(user.value,pass.value)">
            </div>
          </div>
        </form>
      </div>
    <!--//main-->

    <!--footer-->
    <div class="footer">
    </div>
    <!--//footer-->
  </div>
</div>


</body>
</html>
