<!DOCTYPE HTML>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>

<body>

<!--header-->
<h1 >Event Coming Soon</h1>
  <div class="w3l-agile">
    <img src="assets/images/1.png" alt="" />
    <h2>
      <span>T</span>ime
      <span>T</span>o
      <span>C</span>elebrate
      <span>W</span>onderful
      <span>E</span>vent
    </h2>
    <img src="assets/images/2.png" alt="" />
  </div>
  <!--timer-->
  <div class="examples">
    <div class="simply-countdown-losange" id="simply-countdown-losange">
        <countdown units="Days|Hours|Minutes|Seconds" end="July 22, 2021"></countdown>
    </div>
  </div>


</body>

</html>
